<div>
  <h1>Editing Technician</h1>

  <% form_for(@technician) do |form| %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p><%= form.submit 'Update' %></p>
  <% end %>

</div>