<div>
  <h1>New Technician</h1>

  <% form_for(@technician) do |form| %>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p><%= form.submit 'Create' %></p>
  <% end %>

</div>


<script>
  $(document).ready(function() {
    // check the active box
    $("#technician_active").click();
  });
</script>
