<%= form.error_messages %>
<table>
  <tr>
    <td><b>Repair Order #</b></td><td><%= form.text_field :ro_number %></td>
  </tr>
  <tr>
    <td><b>Clients Lastname:</b></td><td><%= form.text_field :clients_lastname %></td>
  </tr>
  <tr>
    <td><b>Description:</b></td><td><%= form.text_area :description %></td>
  </tr>
</table>