<h2 id="edit_job">Editing Job #<% @job.id %></h2>
<% form_for @job do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <%= form.submit 'Save', :class => 'save hide' %>
<% end %>
<a href="javascript:void(0)" id="save_job">Save</a>