<% form_for @job do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <table>
    <tr>
      <td><b>Technician</b></td>
      <td><%= form.collection_select :technician_id, @technicians, "id", "name" %></td>
    </tr>
  </table>
  <%= form.submit 'Save' %>
<% end %>