<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>My Jobs</title>
    <%= stylesheet_link_tag 'blueprint/screen', 'thickbox', 'jobs', :media => 'screen' %>
    <%= javascript_include_tag "jquery-1.3.2.min" %>
    <style>
      body {margin:0;padding:0;}
      body > form {padding:1em 1.5em;}
      body > div {padding:1em 1.5em;}
      textarea {height:4em;}
      p {font-size:1.3em;}
      .hide {visibility:hidden;}
      
      ul.jobs {list-style:none;padding:0;margin:0;}
      ul.jobs li {margin-bottom:1px;}
      ul.jobs li a {position:relative;min-height:8em;display:block;padding:1em 1.5em;background-color:#eee;color:#000;text-decoration:none;}
      ul.jobs li a:hover {background-color:#ddd;}
      ul.jobs li a span.ro_number {position:absolute;top:0px;left:8px;font-size:3em;}
      ul.jobs li a span.description {position:absolute;top:3em;font-size:1.5em;}
      ul.jobs li a span.status {position:absolute;top:3px;right:8px;font-size:1.5em;}
      
      .center {text-align:center;}
      .big_text {font-size:2em;}
      a#start_time {padding:1em 1.5em;font-size:1.5em;-webkit-border-radius: 5px;background-color:green;color:#fff;}

      div#TB_title {height:2em;}
    </style>
    <script>
      $(document).ready(function() {
        $("#job_ro_number").focus();
        $("#start_timer").bind("click", function(){
          $("input[type=submit]").click();
          tb_close();
        });
      });
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
